.width{
    width: 22rem;
    word-break: break-all;
}
table, td{
    border-radius: 3px;
}
table, tr,td{
    border-collapse: separate;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.479);
}


.title{
    width: 100px;
}